<div class="jumbotron bg-danger text-white">
    <h1>Welcome to CinemaPandas</h1>
</div>

<div class="row">
    <div class="col-lg-8 mb-4">
        <partial name="_Register" />
    </div>
    <div class="col-lg-4 mb-4">
        <partial name="_Login" />
    </div>
</div>