@model Movie
<div class="card">
    <div class="card-header bg-danger text-white">Plan Your Next Screening</div>
    <div class="card-body">
        <form action="/movie/create" method="post">
            <div class="form-group">
                <label>Title:</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Genre:</label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Year:</label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Description:</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Screening Time:</label>
                <input asp-for="ScreeningTime" class="form-control" />
                <span asp-validation-for="ScreeningTime" class="text-danger"></span>
            </div>
            <input type="submit" value="Add Movie" class="btn btn-outline-danger">
        </form>
    </div>
</div>